<html>
  <head>
    <title>Travel Recommendation</title>
    <script type="text/javascript" src="brython.js"></script>
    <script type="text/javascript" src="brython_stdlib.js"></script>
  <link rel="icon" href="data:;base64,=">
  </head>
  <body onload="brython(1)">
    <script type="text/python3">
      from browser import document, ajax
      import json
      import warnings
 
      def get_random_cities(response):
          if response.status==200 or response.status==0:
              cities = json.loads(response.text)
              change_place_names(cities)
          else:
              warnings.warn(response.text)
      def get_user_scores(ev):
          """Get the predicted probability."""
          req = ajax.ajax()
          req.bind('complete', get_random_cities)
          req.open('POST', '/scores', False)
          req.set_header('content-type','application/json')
          user_inputs = {
              'user_input_forest': document['user_input_forest'].value,
              'user_input_castle': document['user_input_castle'].value,
              'user_input_water': document['user_input_water'].value,
              'user_input_historical': document['user_input_historical'].value,
              'user_input_urban': document['user_input_urban'].value
            }
          data = json.dumps(user_inputs)
          req.send(data)
      
      def change_place_names(cities):
          for k, v in cities.items():
              place = repr(v)
              place = place.replace("'", "").replace("[", "").replace("]", "")
              document[f"place_{int(k)+1}"].textContent = place
              
      def show_random_places(ev):
         document["random_recs"].style.display = "inline"
      
      
      def show_recs(response):
          if response.status==200 or response.status==0:
              recommendations = json.loads(response.text)
              
              document["result"].html = something_
              
          else:
              warnings.warn(response.text)
      def get_recommendations(ev):
          """Get the predicted probability."""
          req = ajax.ajax()
          req.bind('complete', show_recs)
          req.open('POST', '/recommend', True)
          req.set_header('content-type','application/json')
          user_inputs = {
              'user_input_place_1': document['place_1_rating'].value,
              'user_input_place_2': document['place_2_rating'].value,
              'user_input_place_3': document['place_3_rating'].value,
              'user_input_place_4': document['place_4_rating'].value,
              'user_input_place_5': document['place_5_rating'].value,
              'user_input_place_6': document['place_6_rating'].value,
              'user_input_place_7': document['place_7_rating'].value,
              'user_input_place_8': document['place_8_rating'].value,
              'user_input_place_9': document['place_9_rating'].value,
              'user_input_place_10': document['place_10_rating'].value
            }
          data = json.dumps(user_inputs)
          req.send(data)
      
      # TODO - fix
      def clean_recommendations(recommendations):
          places = []
          for k, v in cities.items():
              place = repr(v)
              places.append(place.replace("'", "").replace("[", "").replace("]", ""))
          
              
      document["score_button"].bind("click", get_user_scores, show_random_places)
      document["city_rating_button"].bind("click", get_recommendations)

     
    </script>
    <h1>Rate importance on a scale of 0 to 10</h1>  
    <div>Forest/Mountain</div>
    <textarea id="user_input_forest"></textarea>
    <div>Palaces/Castles</div>
    <textarea id="user_input_castle"></textarea>
    <div>Coastal/Water</div>
    <textarea id="user_input_water"></textarea>
    <div>Historical</div>
    <textarea id="user_input_historical"></textarea>
    <div>Urban</div>
    <textarea id="user_input_urban"></textarea>
    <button id="score_button">Submit</button>
      
     
    <div id="random_recs" style="display:none">   
        <h2>If you have been and liked type 1, if you have been and disliked type -1, if you have not been type 0</h2>
        <div id=place_1>place 1</div>
        <textarea id="place_1_rating"></textarea>
        <div id=place_2>place 2</div>
        <textarea id="place_2_rating"></textarea>
        <div id=place_3>place 3</div>
        <textarea id="place_3_rating"></textarea>
        <div id=place_4>place 4</div>
        <textarea id="place_4_rating"></textarea>
        <div id=place_5>place 5</div>
        <textarea id="place_5_rating"></textarea>
        <div id=place_6>place 6</div>
        <textarea id="place_6_rating"></textarea>
        <div id=place_7>place 7</div>
        <textarea id="place_7_rating"></textarea>
        <div id=place_8>place 8</div>
        <textarea id="place_8_rating"></textarea>
        <div id=place_9>place 9</div>
        <textarea id="place_9_rating"></textarea>
        <div id=place_10>place 10</div>
        <textarea id="place_10_rating"></textarea>
        <button id="city_rating_button">Find Top 5 Destinations</button>
     </div>
     <div id="result"></div>
  </body>
</html>